    <html>


<head>


<style type ="text/css">

#main{
width:910px;
height:620px;
margin:30px auto
}
</style>

</head
<body>

{% extends "loggedin.html"%}

{%block username%}
<p> Please fill up all the necessary fields before submitting your leave Application</p>
{%endblock%}

{%block content %}

<h2><center><font color="Orange"><span class="glyphicon glyphicon-align-justify"></span>  eLeave DashBoard</font></center></h2>
<hr>


<div id="main">
<p>An email has been seen to the Authority concern to authorize your leave.</p>
<p>You will receive an email notification once your leave application have been approved.</p>

</div>

{% endblock %}
</html>
</body>
