    <html>


<head>


<style type ="text/css">
able, th, td {
    border: 1px solid Orange;
    border-collapse: collapse;

}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: white;
    background-color: #999999;
}



table#t01 {
    width: 100%;
    background-color: #f1f1c1;
}
</style>

</head
<body>

{% extends "loggedin.html"%}

{%block username%}
<p> Click on your name below to view your leave balance</p>
{%endblock%}

{%block content %}
<p>Click on your name below to view your current leave balance. Contact Hr Office if you have any query regarding your leave balance.</p>

<table id="t01">
<tr>
   <th>CSD Office</th>
   <tr><td><a href ="/Alick_leavebalance/">Alick Terry</a></td> </tr>
    <tr><td><a href ="/Ambata_leavebalance/">Ambata Jimmy</a></td></tr>
    <tr><td><a href ="/Betty_leavebalance/">Betty Williams</a></td> </tr>
    <tr><td><a href ="/Charlie_leavebalance/">Simeon Charlie</a></td> </tr>
    <tr><td><a href ="/CharlieBeru_leavebalance/">Charley Beru</a></td> </tr>
    <tr><td><a href ="/Daffodil_leavebalance/">Daffodil Siro</a></td> </tr>
    <tr><td><a href ="/Fred_leavebalance/">Fred Keleb</a></td> </tr>
        <tr><td><a href ="/Iven_leavebalance/">Iven Marafi</a></td></tr>
            <tr><td><a href ="/Jessica_leavebalance/">Jessica John </a></td></tr>
                <tr><td><a href ="/Joseth_leavebalance/">Joseth Shem</a></td> </tr>
                  <!--  <tr><td><a href ="/#/">Jimmy Nakou</a></td> </tr>-->
                <tr><td><a href ="/keith_leavebalance/">Keith Gordon</a></td> </tr>
            <tr><td><a href ="/ken_leavebalance/">Gengis K. Kalmet</a></td> </tr>
        <tr><td><a href ="/Lonneth_leavebalance/">Lonneth Jonas</a></td></tr>
    <tr><td><a href ="/Lillian_leavebalance/">Lillian Geoffery</a></td> </tr>
    <tr><td><a href ="/Nelson_leavebalance/">Nelson Shem</a></td></tr>
    <tr><td><a href ="/Nancys_leavebalance/">Nancy Sarai</a></td> </tr>
    <tr><td><a href ="/Pakoa_leavebalance/">Willie S. Pakoa</a></td> </tr>
    <tr><td><a href ="/Philip_leavebalance/">Philip Tagaro</a></td> </tr>
    <tr><td><a href ="/Rebeca_leavebalance/">Rebecca Bakeo</a></td> </tr>
    <tr><td><a href ="/Thevfa_leavebalance/">Thevfa Nawinmal</a></td> </tr>
    <tr><td><a href ="/Nauni_leavebalance/">Nauni Magau</a></td> </tr>
    <tr><td><a href ="/Ellie_leavebalance/">Fred Ellie Neimia</a></td> </tr>
    <tr><td><a href ="/Aaron_leavebalance/">Aaron G John</a></td> </tr>
    <tr><td><a href ="/Glenda_leavebalance/">Glenda</a></td></tr>



</tr>

   </table>


{% endblock %}
</html>
</body>
