<html>


<head>


<style type ="text/css">
able, th, td {
border: 1px solid Orange;
border-collapse: collapse;

}

table#t01 tr:nth-child(even) {
background-color: #eee;
}
table#t01 tr:nth-child(odd) {
background-color: #fff;
}
table#t01 th {
color: white;
background-color: #999999;
}



table#t01 {
width: 100%;
background-color: #f1f1c1;
}
</style>

</head
<body>

{% extends "loggedin.html"%}

{%block username%}
<p> Click on your name below to view your leave balance</p>
{%endblock%}

{%block content %}
<p>Click on your name below to view your current leave balance. Contact Hr Office if you have any query regarding your leave balance.</p>

<table id="t01">
<tr>
<th>CSD Office</th>
<tr><td><a href ="/Alick_leavebalance1/">Alick Terry</a></td> </tr>
<tr><td><a href ="/Ambata_leavebalance1/">Ambata Jimmy</a></td></tr>
<tr><td><a href ="/Betty_leavebalance1/">Betty Williams</a></td> </tr>
<tr><td><a href ="/Charlie_leavebalance1/">Simeon Charlie</a></td> </tr>
<tr><td><a href ="/CharlieBeru_leavebalance1/">Charley Beru</a></td> </tr>
<tr><td><a href ="/Daffodil_leavebalance1/">Daffodil Siro</a></td> </tr>
<tr><td><a href ="/Fred_leavebalance1/">Fred Keleb</a></td> </tr>
    <tr><td><a href ="/Iven_leavebalance1/">Iven Marafi</a></td></tr>
        <tr><td><a href ="/Jessica_leavebalance1/">Jessica John </a></td></tr>
            <tr><td><a href ="/Joseth_leavebalance1/">Joseth Shem</a></td> </tr>
                <tr><td><a href ="/#/">Jimmy Nakou</a></td> </tr>
            <tr><td><a href ="/keith_leavebalance1/">Keith Gordon</a></td> </tr>
        <tr><td><a href ="/ken_leavebalance1/">Gengis K. Kalmet</a></td> </tr>
    <tr><td><a href ="/Lonneth_leavebalance/1">Lonneth Jonas</a></td></tr>
<tr><td><a href ="/Lillian_leavebalance1/">Lillian Geoffery</a></td> </tr>
<tr><td><a href ="/Nelson_leavebalance1/">Nelson Shem</a></td></tr>
<tr><td><a href ="/Nancy_leavebalance1/">Nancy Sarai</a></td> </tr>
<tr><td><a href ="/Pakoa_leavebalance1/">Willie S. Pakoa</a></td> </tr>
<tr><td><a href ="/philip_leavebalance1/">Philip Tagaro</a></td> </tr>
<tr><td><a href ="/Rebeca_leavebalance1/">Rebecca Bakeo</a></td> </tr>
<tr><td><a href ="/Thevfa_leavebalance1/">Thevfa Nawinmal</a></td> </tr>
<tr><td><a href ="/Nauni_leavebalance1/">Nauni Magau</a></td> </tr>
<tr><td><a href ="/Ellie_leavebalance1/">Fred Ellie Neimia</a></td> </tr>
<tr><td><a href ="/Aaron_leavebalance1/">Aaron G John</a></td> </tr>



</tr>

</table>


{% endblock %}
</html>
</body>
