<html>


<head>


<style type ="text/css">
able, th, td {
border: 1px solid Orange;
border-collapse: collapse;

}

table#t01 tr:nth-child(even) {
background-color: #eee;
}
table#t01 tr:nth-child(odd) {
background-color: #fff;
}
table#t01 th {
color: white;
background-color: #999999;
}



table#t01 {
width: 100%;
background-color: #f1f1c1;
}
</style>

</head
<body>

{% extends "loggedin.html"%}

{%block username%}
<p> Click on your name below to view your leave balance</p>
{%endblock%}

{%block content %}
<p>Click on your name below to view your current leave balance. Contact Hr Office if you have any query regarding your leave balance.</p>

<table id="t01">
<tr>
<th>FISD Office</th>

<tr>  <td><a href ="/Alex_leavebalance1/">Alex M. Bisiwel</a></td></tr>
<tr><td><a href ="/Florinda_leavebalancefisd1/">Flrida Philip</a></td></tr>
 <!--<tr><td><a href ="/Gloria_leavebalance1/">Gloria Siri</a></td> </tr>-->
 <tr>  <td><a href ="/Holyoake_leavebalance1/">Holyoake Bule</a></td></tr>
     <tr><td><a href ="/John_leavebalance1/">John Tabiusu</a></td> </tr>
         <tr><td><a href ="/Jenny_leavebalance1/">Jenny Willie</a></td> </tr>
         <tr>  <td><a href ="/Marinet_leavebalance1/">Marinet Abbil</a></td></tr>
          <tr><td><a href ="/MMark_leavebalance1/">Mark Mera</a></td> </tr>
         <tr><td><a href ="/Nancy_leavebalance1/">Nancy Mabon</a></td> </tr>
<tr><td><a href ="/Noel_leavebalance1/">Noel Vari</a></td></tr>
<tr><td><a href ="/Noelyn_leavebalance1/">Noelyne Woi</a></td> </tr>




</tr>

</table>


{% endblock %}
</html>
</body>
