    <html>


<head>
	

<style type ="text/css">
able, th, td {
    border: 1px solid Orange;
    border-collapse: collapse;
    
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: white;
    background-color: #999999;
} 



table#t01 {
    width: 100%;
    background-color: #f1f1c1;
} 
</style>

</head
<body>

{% extends "loggedin.html"%}

{%block username%}
<p> Please fill up all the necessary fields before submitting your leave Application</p>
{%endblock%}

{%block content %}


<table id="t01">
<tr>
   <th>Leave Current Balance</th>
    <td><a href ="/departments/">GOV (Department) </a></td>
          <td><a href ="/fmkd_currentleave_balance/">FMKD (Department)</a></td> 
                <td><a href ="/csd_currentleave_balance/">CSD (Department) </a></td> 
                <td><a href ="/acsd_currentleave_balace/">ACSD (Department) </a></td> 
           <td><a href ="/rshd_currentleave_balance/">RSD (Department) </a></td> 
       <td><a href ="/fisd_currentleave_balance/">FISD (Department) </a></td> 
    
</tr>
<tr>

    
</tr>
   </table>


{% endblock %}
</html>
</body>
