<html>


<head>


<style type ="text/css">

#main{
width:910px;
height:620px;
margin:30px auto
}
</style>

</head
<body>

{% extends "accounts.html"%}

{%block username%}
<p> Please fill up all the necessary fields before submitting your leave Application</p>
{%endblock%}

{%block content %}

<div id="main">
<div class="well">
<form action ="" method="post">{%csrf_token%}
<table>
{{form.as_table}}
</table>
<br>
<!--<input type="submit" name="submit" value="Calculate Current Leave Balance" > -->
<input class="btn btn-primary btn-lg" type="submit" name="submit" value="Update Current Balance" >


</form>
</div>
</div>

{% endblock %}
</html>
</body>
