        <html>


<head>
	

<style type ="text/css">
able, th, td {
    border: 1px solid Orange;
    border-collapse: collapse;
    
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: white;
    background-color: #11584A;
} 



table#t01 {
    width: 100%;
    background-color: #f1f1c1;
} 
</style>

</head
<body>

{% extends "hr_office.html"%}

{%block username%}
<p> Please fill up all the necessary fields before submitting your leave Application</p>
{%endblock%}

{%block content %}


<table id="t01">
<tr>
   <th>Department Head Leave Authorization</th>
      <th> Coporate Sevices Leave Authorization</th>
</tr>
<tr>
    <td><a href ="/department_to_approve_leave/"><input type="checkbox" onClick="parent.location='#'" >Department Head </a></td>
   <td><a href ="/coporateservices_authorization/"><input type="checkbox" onClick="parent.location='#'" >Coporate Services </a></td> 
</tr>
   </table>


{% endblock %}
</html>
</body>
