<html>


<head>
	

<style type ="text/css">

#main{
width:910px;
height:620px;
margin:30px auto
}
</style>

</head
<body>

{% extends "loggedin.html"%}

{%block username%}
<p> Please fill up all the necessary fields before saving the records</p>
{%endblock%}

{%block content %}
<div id="main">
<form action ="/edit_staff/" method="post">{%csrf_token%}
<table>
{{form.as_table}}
</table>
<br>
<input type="submit" name="submit" value="Save Record" >  
<input type=button onClick="parent.location='/update_form/'" value='Edit Record'>

</form>

</div>

{% endblock %}
</html>
</body>
