<html>


<head>


<style type ="text/css">

table, th, td {
    border: 1px solid Orange;
    border-collapse: collapse;

}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color: #fff;
}
table#t01 th {
    color: white;
    background-color: #999999;
}



table#t01 {
    width: 100%;
    background-color: #f1f1c1;
}
</style>

</head
<body>
{% extends "loggedin.html"%}

{%block username%}
<p> Below you can view the list of all the Governor's Office Staff Leave History</p>
{%endblock%}

{%block content %}
<table id="t01" >
<tr>
<th>Authorize leave</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Position</th>
  <th>Department</th>
  <th>Leave Type</th>
  <th>Details</th>
  <th>Start Date</th>
  <th>End Date</th>
  <th>Total working days</th>
<!--<th>Leave Current Balance</th>-->
<th> Leave Balance</th>


</tr>
{%for a in new_leave%}
<tr>
<td><a href ="/authorized_Leave/{{ a.id}}/"><span class="glyphicon glyphicon-lock"></span></a> </td>
<td>{{a.first_name}}</td>
  <td>{{a.last_name}}</td>
  <td>{{a.position}}</td>
  <td>{{a.department}}</td>
<td>{{a.leave_type}}</td>
  <td>{{a.specify_details}}</td>
  <td>{{a.start_date}}</td>
  <td>{{a.end_date}}</td>
  <td>{{a.total_working_days}}</td>
<!--<td>{{a.leave_current_balance}}</td>-->
<td><a href="/Gov_aut_check_bal/"><h5 class="btn btn-primary btn-sm">Leave Balance</h5></a></td>


  </tr>
{%endfor%}
</table>

{% endblock %}
</html>
</body>
