<html>


<head>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css" />
        <script>
        $(function() {
            $( "#id_start_date,#id_end_date" ).datepicker();
        });
        </script>

<style type ="text/css">

#main{
width:910px;
height:620px;
margin:30px auto
}
</style>

</head
<body>

{% extends "loggedin.html"%}

{%block username%}
<p> Please fill up all the necessary fields before saving the records</p>
{%endblock%}

{%block content %}
<p><b> Please note: </b>when you enter the <font color="red">Total working days</font> field below, do not include weekends and public holidays. Only enter the Total number of working days. The start date and end date field, should be in this format:  <font color="red">Year-Month-Day eg:2015-2-15</font></p>

<div id="main">
  <div class="well">
<form action ="/leaveapplication/" method="post">{%csrf_token%}
<table>
{{form.as_table}}
</table>
<br>

<input class="btn btn-primary btn-lg" role="button" type="submit" name="submit" value="Submit Leave" >

</form>
</div>
</div>

{% endblock %}
</html>
</body>
