<html>


<head>
	

<style type ="text/css">

#main{
width:910px;
height:620px;
margin:30px auto
}
</style>

</head
<body>
{% extends "hr_office.html"%}

{%block username%}
<p> Successfuly Recorded message</p>
{%endblock%}

{%block content %}
<div id="main">
<p>Congratulations!</p><br>
<p> Your data was successfuly recorded to the database :)</p> 
<p> <input type="submit" name="submit"onClick="parent.location='/training_edu/'" value='Click here to continue'></p>

</div>

{% endblock %}
</html>
</body>
